@import url("photographer.css");
:root {
    --primary: #901C1C;
    --secondary: #D3573C;
    --tertiary: #525252;
}

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

h1 {
    color: var(--primary);
    margin-right: 100px;
}

.logo {
    height: 50px;
    margin-left: 100px;
}

.photographers_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
}

.photographers_section article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.photographers_section article a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.photographers_section article h2 {
    color: var(--secondary);
    font-size: 36px;
    margin-bottom: 0;
}

.photographers_section article img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
}
.photographers_section article p {
    display: contents;
}

.address {
    color: var(--primary);
    font-weight: bold;
}
.photographers_section article p .price {
    color: var(--tertiary)
}

/** photagrapher page **/

.photograph-header {
    gap: 70px;
    margin-top: 100px;
}

.photograph-header article {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
}

.photograph-header article h2 {
    color: var(--secondary);
    font-size: 60px;
    font-weight: lighter;
    margin: 0;
}

.photograph-header article img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
}
.photograph-header article div {
    justify-content: center;
}

.photograph-header article p {
    margin: 0;
}
.photograph-header article span {
    display: block;
}
.photograph-header article span.address {
    font-size: 25px;
    margin-bottom: 15px;
    font-weight: lighter;
}
.photograph-header article span.price {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: var(--secondary);
    padding: 1em;
    margin-right: 2em;
}